body {
  margin: 0;
  background-color: black;
}

img, div {
  height: 200px;
  aspect-ratio: 14/9;
}

.x {
  animation: x 13s linear infinite alternate;
}

.y {
  animation: y 7s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX( calc(100vw - 200px) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - 200px) );
  }
}